<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts-wordcloud.min.js"></script>

</head>
<body>
    <div id="0ae640e2f7c94d64a2b8ef49f369ddfb" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_0ae640e2f7c94d64a2b8ef49f369ddfb = echarts.init(
            document.getElementById('0ae640e2f7c94d64a2b8ef49f369ddfb'), 'white', {renderer: 'canvas'});
        var option_0ae640e2f7c94d64a2b8ef49f369ddfb = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "wordCloud",
            "name": "ycl\u70ed\u70b9\u5206\u6790",
            "shape": "circle",
            "rotationRange": [
                -90,
                90
            ],
            "rotationStep": 45,
            "girdSize": 20,
            "sizeRange": [
                20,
                80
            ],
            "data": [
                {
                    "name": "\u7279\u6717\u666e",
                    "value": 0.7874096463001471,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(122,82,130)"
                        }
                    }
                },
                {
                    "name": "\u7f8e\u56fd",
                    "value": 0.16716080970873956,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(56,115,43)"
                        }
                    }
                },
                {
                    "name": "\u603b\u7edf",
                    "value": 0.0681780114828715,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(96,47,72)"
                        }
                    }
                },
                {
                    "name": "\u98ce\u666f\u7ebf",
                    "value": 0.0681273940561795,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(5,4,23)"
                        }
                    }
                },
                {
                    "name": "\u4e2d\u56fd",
                    "value": 0.06532717519030898,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(138,94,68)"
                        }
                    }
                },
                {
                    "name": "\u767d\u5bab",
                    "value": 0.050292455541002944,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(140,48,34)"
                        }
                    }
                },
                {
                    "name": "\u75ab\u60c5",
                    "value": 0.043625315508410985,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(70,113,48)"
                        }
                    }
                },
                {
                    "name": "\u4e16\u754c",
                    "value": 0.03641392834462481,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(8,102,43)"
                        }
                    }
                },
                {
                    "name": "\u75c5\u6bd2",
                    "value": 0.0363784713120157,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(120,92,160)"
                        }
                    }
                },
                {
                    "name": "\u7f8e\u4e3d",
                    "value": 0.035818577330370284,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(72,75,33)"
                        }
                    }
                },
                {
                    "name": "\u5ddd\u666e",
                    "value": 0.03517832516792545,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(119,69,39)"
                        }
                    }
                },
                {
                    "name": "\u8001\u7279",
                    "value": 0.03517832516792545,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(116,71,97)"
                        }
                    }
                },
                {
                    "name": "\u52a0\u6cb9",
                    "value": 0.028075050727123595,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(144,11,34)"
                        }
                    }
                },
                {
                    "name": "\u9ed1\u4eba",
                    "value": 0.02691247922086807,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(60,72,89)"
                        }
                    }
                },
                {
                    "name": "\u7cdf\u7cd5",
                    "value": 0.026562121365063755,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(120,66,84)"
                        }
                    }
                },
                {
                    "name": "\u4e0d\u9760",
                    "value": 0.02518382149720696,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(101,3,25)"
                        }
                    }
                },
                {
                    "name": "\u9a9a\u4e71",
                    "value": 0.024604486451069153,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(83,150,136)"
                        }
                    }
                },
                {
                    "name": "\u4eba\u6c11",
                    "value": 0.022993755715041687,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(146,101,57)"
                        }
                    }
                },
                {
                    "name": "\u7948\u7977",
                    "value": 0.022335224288587543,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(145,160,159)"
                        }
                    }
                },
                {
                    "name": "\u56fd\u5bb6",
                    "value": 0.02158160829512506,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(148,9,6)"
                        }
                    }
                },
                {
                    "name": "\u519b\u961f",
                    "value": 0.02096759217149338,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(63,45,154)"
                        }
                    }
                },
                {
                    "name": "\u5efa\u56fd",
                    "value": 0.020565074985024523,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(38,103,17)"
                        }
                    }
                },
                {
                    "name": "\u4f4e\u7b49",
                    "value": 0.018196576436861206,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(36,97,137)"
                        }
                    }
                },
                {
                    "name": "\u5927\u7b11",
                    "value": 0.018090032726410004,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(84,55,7)"
                        }
                    }
                },
                {
                    "name": "\u8d5e\u8d5e",
                    "value": 0.017589162583962724,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(144,35,157)"
                        }
                    }
                },
                {
                    "name": "\u6342\u8138",
                    "value": 0.017589162583962724,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(159,51,139)"
                        }
                    }
                },
                {
                    "name": "\u7529\u9505",
                    "value": 0.017589162583962724,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(11,147,140)"
                        }
                    }
                },
                {
                    "name": "\u793a\u5a01",
                    "value": 0.017547524461736144,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(98,23,31)"
                        }
                    }
                },
                {
                    "name": "\u5e0c\u671b",
                    "value": 0.016593770862515938,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(119,87,107)"
                        }
                    }
                },
                {
                    "name": "\u4e00\u4e2a",
                    "value": 0.01658195765844041,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(108,117,141)"
                        }
                    }
                }
            ]
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "title": [
        {
            "text": "\u70ed\u70b9\u5206\u6790",
            "padding": 5,
            "itemGap": 10,
            "textStyle": {
                "fontSize": 23
            }
        }
    ]
};
        chart_0ae640e2f7c94d64a2b8ef49f369ddfb.setOption(option_0ae640e2f7c94d64a2b8ef49f369ddfb);
    </script>
</body>
</html>
