<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>舆情</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="" />
	<script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
  <!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="../static/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="../static/css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="../static/css/bootstrap.css">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="css/magnific-popup.css">

	<!-- Owl Carousel -->
	<link rel="stylesheet" href="../static/css/owl.carousel.min.css">
	<link rel="stylesheet" href="../static/css/owl.theme.default.min.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="../static/css/style.css">

	<!-- Modernizr JS -->
	<script src="../static/js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="../static/js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
		
	<div class="colorlib-loader"></div>

	<div id="page">
		<nav class="colorlib-nav" role="navigation">
			<div class="top-menu">
				<div class="container">
					<div class="row">
						<div class="col-md-2">
							<div id="colorlib-logo"><a href="index.html">舆情预测</a></div>
						</div>
						<div class="col-md-10 text-right menu-1">
							<ul>
								<li class="has-dropdown">
									<a href="work.html">Works</a>
									<ul class="dropdown">
										<li><a href="work-grid.html">Works grid with text</a></li>
										<li><a href="work-grid-without-text.html">Works grid w/o text</a></li>
									</ul>
								</li>
								
							</ul>
						</div>
					</div>
				</div>
			</div>
		</nav>

		<section id="home" class="video-hero" style="height: 500px; background-image: url(images/cover_img_1.jpg);  background-size:cover; background-position: center center;background-attachment:fixed;" data-section="home">
		<div class="overlay"></div>
			<div class="display-t display-t2 text-center">
				<div class="display-tc display-tc2">
					<div class="container">
						<div class="col-md-12 col-md-offset-0">
							<div class="animate-box">
								<h2>XX事件的舆情分析</h2>
								<p class="breadcrumbs"><span><a href="index.html">词云</a></span> <span>展望</span></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<div class="colorlib-about">
			<div class="container">
				<div class="row row-pb-lg">
					<div class="col-md-4 animate-box">
						
						<h2>About unapp</h2>
						<p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made herself on the way.</p>
						<p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way.</p>
						
						
						
						
						
						
						
						
					</div>
					<div class="col-md-8 animate-box">
						
						<body>
    <div id="891ae2c59e294aa592e91dcaf7be2075" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_891ae2c59e294aa592e91dcaf7be2075 = echarts.init(
            document.getElementById('891ae2c59e294aa592e91dcaf7be2075'), 'white', {renderer: 'canvas'});
        var option_891ae2c59e294aa592e91dcaf7be2075 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "bar",
            "name": "Shots",
            "data": [
                8.4,
                10.0,
                18.0,
                21.0,
                17.5,
                16.5,
                12.5,
                12.5,
                10.5,
                20.0,
                6.5,
                11.0,
                13.5,
                11.5,
                10.0,
                6.5,
                17.0,
                10.5,
                11.0,
                14.0
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        },
        {
            "type": "bar",
            "name": "Goals",
            "data": [
                1.2,
                0.5,
                2.0,
                1.0,
                3.5,
                3.0,
                1.5,
                1.5,
                0.5,
                5.0,
                1.5,
                1.5,
                1.5,
                2.5,
                1.5,
                0.0,
                0.5,
                0.0,
                1.0,
                0.5
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "Shots",
                "Goals"
            ],
            "selected": {
                "Shots": true,
                "Goals": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "Huskies",
                "Opponent1",
                "Opponent2",
                "Opponent3",
                "Opponent4",
                "Opponent5",
                "Opponent6",
                "Opponent7",
                "Opponent8",
                "Opponent9",
                "Opponent10",
                "Opponent11",
                "Opponent12",
                "Opponent13",
                "Opponent14",
                "Opponent15",
                "Opponent16",
                "Opponent17",
                "Opponent18",
                "Opponent19"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "shot&goals",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_891ae2c59e294aa592e91dcaf7be2075.setOption(option_891ae2c59e294aa592e91dcaf7be2075);
    </script>
						
					</div>
				</div>
				
				
				
				<div class="colorlib-about">
			<div class="container">
				<div class="row row-pb-lg">
					<div class="col-md-9 animate-box">
						
						
						<div id="d0661e38722745beb5064fc51da8f88b" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_d0661e38722745beb5064fc51da8f88b = echarts.init(
            document.getElementById('d0661e38722745beb5064fc51da8f88b'), 'white', {renderer: 'canvas'});
        var option_d0661e38722745beb5064fc51da8f88b = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#EEF902",
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "bar",
            "name": "Predictive value",
            "data": [
                0.8408,
                -1.193,
                -0.2853,
                -0.0154,
                -0.2685,
                0.9583,
                1.7445,
                0.0401,
                -1.8708,
                0.9586,
                -0.0134,
                -1.0443,
                -0.4201,
                0.9444,
                1.7721,
                -2.2399,
                -0.3296,
                0.8863,
                -0.98,
                0.1271,
                1.259,
                -1.2011,
                -1.2588,
                1.4276,
                0.5424,
                0.047,
                0.5164,
                0.4404,
                -0.6022,
                1.0031,
                1.3107,
                -2.5483,
                -0.8212,
                0.0289,
                0.0654,
                0.2236,
                0.5286,
                -0.5733
            ],
            "barCategoryGap": "20%",
            "barGap": "0%",
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        },
        {
            "type": "bar",
            "name": "Goal difference",
            "data": [
                1,
                0,
                -2,
                -3,
                -4,
                1,
                -1,
                0,
                -3,
                -2,
                1,
                0,
                -3,
                4,
                2,
                0,
                1,
                2,
                0,
                0,
                -1,
                -2,
                -4,
                0,
                1,
                -4,
                2,
                -1,
                -1,
                2,
                1,
                -2,
                0,
                0,
                1,
                2,
                0,
                -2
            ],
            "barCategoryGap": "20%",
            "barGap": "0%",
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        },
        {
            "type": "bar",
            "name": "Own score",
            "data": [
                "1",
                "1",
                "0",
                "0",
                "0",
                "2",
                "0",
                "1",
                "2",
                "0",
                "3",
                "2",
                "1",
                "4",
                "2",
                "1",
                "1",
                "3",
                "0",
                "0",
                "1",
                "0",
                "0",
                "1",
                "2",
                "1",
                "3",
                "0",
                "1",
                "2",
                "2",
                "1",
                "0",
                "1",
                "1",
                "2",
                "1",
                "1"
            ],
            "barCategoryGap": "20%",
            "barGap": "0%",
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "Predictive value",
                "Goal difference",
                "Own score"
            ],
            "selected": {
                "Predictive value": true,
                "Goal difference": true,
                "Own score": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "No.1 match",
                "No.2 match",
                "No.3 match",
                "No.4 match",
                "No.5 match",
                "No.6 match",
                "No.7 match",
                "No.8 match",
                "No.9 match",
                "No.10 match",
                "No.11 match",
                "No.12 match",
                "No.13 match",
                "No.14 match",
                "No.15 match",
                "No.16 match",
                "No.17 match",
                "No.18 match",
                "No.19 match",
                "No.20 match",
                "No.21 match",
                "No.22 match",
                "No.23 match",
                "No.24 match",
                "No.25 match",
                "No.26 match",
                "No.27 match",
                "No.28 match",
                "No.29 match",
                "No.30 match",
                "No.31 match",
                "No.32 match",
                "No.33 match",
                "No.34 match",
                "No.35 match",
                "No.36 match",
                "No.37 match",
                "No.38 match"
            ]
        }
    ],
    "title": [
        {
            "text": "Predictive By PCA",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_d0661e38722745beb5064fc51da8f88b.setOption(option_d0661e38722745beb5064fc51da8f88b);
    </script>
						
						
						
					</div>
					<div class="col-md-3 animate-box">
						
						
						<h2>About unapp</h2>
						<p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made herself on the way.</p>
						<p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way.</p>
						
						
						
    		
					</div>
				</div>
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center colorlib-heading animate-box">
						<h2>有关接下来走向的预测</h2>
						<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 text-center animate-box">
						<div class="staff-entry">
							<a href="#" class="staff-img" style="background-image: url(images/person1.jpg);"></a>
							<div class="desc">
								<h3>Emily Turner</h3>
								<span>Developer</span>
								<p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
								<p>
									<ul class="colorlib-social-icons">
										<li><a href="#"><i class="icon-twitter"></i></a></li>
										<li><a href="#"><i class="icon-facebook"></i></a></li>
										<li><a href="#"><i class="icon-linkedin"></i></a></li>
										<li><a href="#"><i class="icon-dribbble"></i></a></li>
									</ul>
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-3 text-center animate-box">
						<div class="staff-entry">
							<a href="#" class="staff-img" style="background-image: url(images/person2.jpg);"></a>
							<div class="desc">
								<h3>Adam Morris</h3>
								<span>Developer</span>
								<p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
								<p>
									<ul class="colorlib-social-icons">
										<li><a href="#"><i class="icon-twitter"></i></a></li>
										<li><a href="#"><i class="icon-facebook"></i></a></li>
										<li><a href="#"><i class="icon-linkedin"></i></a></li>
										<li><a href="#"><i class="icon-dribbble"></i></a></li>
									</ul>
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-3 text-center animate-box">
						<div class="staff-entry">
							<a href="#" class="staff-img" style="background-image: url(images/person3.jpg);"></a>
							<div class="desc">
								<h3>Noah Nelson</h3>
								<span>Designer</span>
								<p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
								<p>
									<ul class="colorlib-social-icons">
										<li><a href="#"><i class="icon-twitter"></i></a></li>
										<li><a href="#"><i class="icon-facebook"></i></a></li>
										<li><a href="#"><i class="icon-linkedin"></i></a></li>
										<li><a href="#"><i class="icon-dribbble"></i></a></li>
									</ul>
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-3 text-center animate-box">
						<div class="staff-entry">
							<a href="#" class="staff-img" style="background-image: url(images/person4.jpg);"></a>
							<div class="desc">
								<h3>Dorothy Murphy</h3>
								<span>Designer</span>
								<p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
								<p>
									<ul class="colorlib-social-icons">
										<li><a href="#"><i class="icon-twitter"></i></a></li>
										<li><a href="#"><i class="icon-facebook"></i></a></li>
										<li><a href="#"><i class="icon-linkedin"></i></a></li>
										<li><a href="#"><i class="icon-dribbble"></i></a></li>
									</ul>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<footer id="colorlib-footer">
			<div class="container">
				<div class="row row-pb-md">
					<div class="col-md-3 colorlib-widget">
						<h4>About unapp</h4>
						<p>Far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
						<p>
							<ul class="colorlib-social-icons">
								<li><a href="#"><i class="icon-twitter"></i></a></li>
								<li><a href="#"><i class="icon-facebook"></i></a></li>
								<li><a href="#"><i class="icon-linkedin"></i></a></li>
								<li><a href="#"><i class="icon-dribbble"></i></a></li>
							</ul>
						</p>
					</div>
					<div class="col-md-3 colorlib-widget">
						<h4>Information</h4>
						<p>
							<ul class="colorlib-footer-links">
								<li><a href="#"><i class="icon-check"></i> Home</a></li>
								<li><a href="#"><i class="icon-check"></i> Gallery</a></li>
								<li><a href="#"><i class="icon-check"></i> About</a></li>
								<li><a href="#"><i class="icon-check"></i> Blog</a></li>
								<li><a href="#"><i class="icon-check"></i> Contact</a></li>
								<li><a href="#"><i class="icon-check"></i> Privacy</a></li>
							</ul>
						</p>
					</div>

					<div class="col-md-3 colorlib-widget">
						<h4>Recent Blog</h4>
						<div class="f-blog">
							<a href="blog.html" class="blog-img" style="background-image: url(images/blog-1.jpg);">
							</a>
							<div class="desc">
								<h2><a href="blog.html">Photoshoot Technique</a></h2>
								<p class="admin"><span>30 March 2018</span></p>
							</div>
						</div>
						<div class="f-blog">
							<a href="blog.html" class="blog-img" style="background-image: url(images/blog-2.jpg);">
							</a>
							<div class="desc">
								<h2><a href="blog.html">Camera Lens Shoot</a></h2>
								<p class="admin"><span>30 March 2018</span></p>
							</div>
						</div>
						<div class="f-blog">
							<a href="blog.html" class="blog-img" style="background-image: url(images/blog-3.jpg);">
							</a>
							<div class="desc">
								<h2><a href="blog.html">Imahe the biggest photography studio</a></h2>
								<p class="admin"><span>30 March 2018</span></p>
							</div>
						</div>
					</div>

					<div class="col-md-3 colorlib-widget">
						<h4>Contact Info</h4>
						<ul class="colorlib-footer-links">
							<li>291 South 21th Street, <br> Suite 721 New York NY 10016</li>
							<li><a href="tel://1234567920"><i class="icon-phone"></i> + 1235 2355 98</a></li>
							<li><a href="mailto:info@yoursite.com"><i class="icon-envelope"></i> info@yoursite.com</a></li>
							<li><a href="#"><i class="icon-location4"></i> yourwebsite.com</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="copy">
				<div class="container">
					<div class="row">
						<div class="col-md-12 text-center">
							<p>
								 <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --><br> 
								 Demo Images: <a href="http://unsplash.co/" target="_blank">Unsplash</a>, <a href="http://pexels.com/" target="_blank">Pexels</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up2"></i></a>
	</div>
	
	<!-- jQuery -->
	<script src="../static/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="../static/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="../static/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="../static/js/jquery.waypoints.min.js"></script>
	<!-- Stellar Parallax -->
	<script src="../static/js/jquery.stellar.min.js"></script>
	<!-- YTPlayer -->
	<script src="../static/js/jquery.mb.YTPlayer.min.js"></script>
	<!-- Owl carousel -->
	<script src="../static/js/owl.carousel.min.js"></script>
	<!-- Magnific Popup -->
	<script src="../static/js/jquery.magnific-popup.min.js"></script>
	<script src="../static/js/magnific-popup-options.js"></script>
	<!-- Counters -->
	<script src="../static/js/jquery.countTo.js"></script>
	<!-- Main -->
	<script src="../static/js/main.js"></script>

	</body>
</html>

